.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

.body {
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  
}
:root {
  --container-height: 90%;
  --container-width: 90%;
  --component-background: rgba(0, 0, 0, 0.45);
}